---
import Container from "../site/Container.astro";
import Title from "../site/Title.astro";
import Content from "./Content.astro";
---

<Container class="px-4 py-24">

    <Container class="text-center mb-12">
        <Title
            as="h2"
            title="Our Portfolio"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        />
    </Container>

    <Container class="max-w-(--breakpoint-lg)">
        <div class="columns-2 md:columns-4 lg:columns-5 gap-4">
            <Content class="mb-4 rounded-xl border border-black/15 shadow-md transition-all hover:scale-105 hover:shadow-xl"/>
        </div>
    </Container>

</Container>
