---
interface Props {
    src: string;
    size: string;
}

const {
    src,
    size
} = Astro.props as Props;
---

<a href="/" title="Bintang Surya Madani">

    <img class={size} src={src} alt="Bintang Surya Madani logo" loading="eager"/>

</a>
