---
import { Icon } from "astro-icon/components";

interface Props {
    label?: string;
    lokasi?: string;
    ikon?: string;
    href?: string;
    class?: string;
};

const {
    label,
    lokasi,
    ikon,
    href,
    class: className
} = Astro.props as Props;
---

<a href={href} rel="me" class:list={["flex gap-4 group", className]}>

    <Icon name={ikon} size="24" class="mt-1 group-hover:text-blue-600 transition" />

    <div class="grow">
        <p class="text-lg font-bold">{label}</p>
        <p class="">{lokasi}</p>
    </div>

</a>
