---
import { Image } from "astro:assets";
import bsmMap from '../../assets/bsmMap.webp';
---

<a href="https://maps.app.goo.gl/9pCvvpz4Z6x63Zmi9" rel="me" class="block aspect-4/3 md:aspect-square w-full">

    <Image src={bsmMap} alt="Peta kantor CV. Bintang Surya Madani" class="w-full h-full object-cover" loading="lazy"/>

</a>
