---
import { Icon } from "astro-icon/components";

interface Props {
    nama: string;
    teks: string;
    jabatan: string;
};

const {
    nama,
    teks,
    jabatan
} = Astro.props as Props;
---

<div class="border border-black/15 bg-gray-200/50">

    <blockquote class="p-4 text-lg">
        <p>{teks}</p>
    </blockquote>

    <div class="p-4 flex gap-4 items-center border-t border-black/15">

        <Icon name="bi:people-circle" size="56"/>

        <div>
            <p class="font-bold">{nama}</p>
            <p class="text-sm">{jabatan}</p>
        </div>

    </div>

</div>
